:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Graysh-blue: hsl(220, 15%, 55;%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--Lightgray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  margin: 100px auto;
  width: 379px;
  background-color: var(--White);
  border-radius: 20px;
  padding: 2%;
}

.qr-image img {
  border-radius: 5%;
  width: 100%;
}

.qr-text {
  margin: 7% auto;
  text-align: center;
  width: 85%;
}

.qr-text h1 {
  font-size: 25px;
}

.qr-text p {
  margin-top: 5%;
  color: gray;
}
